<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project"
        tools:targetApi="31">



        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>



        <!-- Главная Activity -->
        <activity
            android:name="com.example.project.activity.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Project">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Activity для логина -->
        <activity
            android:name="com.example.project.profile.LoginActivity"
            android:theme="@style/Theme.Project"
            android:exported="true"
            android:label="Логин" />

        <!-- Activity для регистрации -->
        <activity
            android:name="com.example.project.profile.RegisterActivity"
            android:theme="@style/Theme.Project"
            android:exported="true"
            android:label="Регистрация" />

        <!-- Activity для профиля -->
        <activity
            android:name="com.example.project.profile.ProfileActivity"
            android:theme="@style/Theme.Project"
            android:exported="true"
            android:label="Профиль" />

        <!-- Activity для профиля -->
        <activity
            android:name="com.example.project.activity.WordsActivity"
            android:theme="@style/Theme.Project"
            android:exported="true"
            android:label="Слова" />

        <!-- Activity для профиля -->
        <activity
            android:name="com.example.project.activity.TaskListActivity"
            android:theme="@style/Theme.Project"
            android:exported="true"
            android:label="Задачи" />

        <activity
            android:name="com.example.project.addActivity.AddTaskActivity"
            android:theme="@style/Theme.Project"
            android:exported="true"
            android:label="Добавить" />

        <activity
            android:name="com.example.project.activity.SettingsActivity"
            android:theme="@style/Theme.Project"
            android:exported="true"
            android:label="Настройки" />

        <activity
            android:name="com.example.project.activity.ListeningActivity"
            android:theme="@style/Theme.Project"
            android:exported="true"
            android:label="Слушание" />

        <activity
            android:name="com.example.project.addActivity.AddListeningActivity"
            android:theme="@style/Theme.Project"
            android:exported="true"
            android:label="Добавить слушание" />

        <activity
            android:name="com.example.project.activity.SpeakingActivity"
            android:theme="@style/Theme.Project"
            android:exported="true"
            android:label="Speaking" />

        <activity
            android:name="com.example.project.addActivity.AddSpeakingActivity"
            android:theme="@style/Theme.Project"
            android:exported="true"
            android:label="Добавить speaking" />

        <activity
            android:name="com.example.project.activity.BooksActivity"
            android:theme="@style/Theme.Project"
            android:exported="true"
            android:label="Добавить speaking" />

        <activity
            android:name="com.example.project.addActivity.AddBookActivity"
            android:theme="@style/Theme.Project"
            android:exported="true"
            android:label="Добавить speaking" />

        <activity
            android:name="com.example.project.activity.WritingActivity"
            android:theme="@style/Theme.Project"
            android:exported="true"
            android:label="Добавить speaking" />

        <activity
            android:name="com.example.project.addActivity.AddWritingActivity"
            android:theme="@style/Theme.Project"
            android:exported="true"
            android:label="Добавить speaking" />

        <activity
            android:name="com.example.project.addActivity.EditWritingActivity"
            android:theme="@style/Theme.Project"
            android:exported="true"
            android:label="Добавить speaking" />

        <activity
            android:name="com.example.project.activity.TestActivity"
            android:theme="@style/Theme.Project"
            android:exported="true"
            android:label="Добавить speaking" />

    </application>

</manifest>
